.button {
    display: inline-block;
    padding: 12px;
    width: 48px;
    height: 48px;

    color: #222;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    white-space: nowrap;
    cursor: pointer;

    border: none;
    background: none;
    box-sizing: border-box;

    svg {
        width: 24px;
    }
}

.icon {
    width: 1em;
    height: 1em;
}

body.dark .icon {
    filter: invert(1);
}
