.post-title {
  margin:     0 auto;
  max-width:  var(--content-width);
  padding:    calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center;
}
.post {
  &__header {
    border-radius: var(--radius) var(--radius) 0 0;
    margin-bottom: calc(var(--space) / 2);
    margin-left:   calc(var(--space) * -1);
    margin-top:    calc(var(--space) * -1);
    overflow:      hidden;
    position:      relative;
    width:         calc(100% + var(--space) * 2);
    img {
      width: 100%;
    }
    &:empty {
      display: none;
    }
  }
  &__credit {
    color:        black;
    margin-right: 8px;
  }
  &__credit_wrap {
    background: rgba(0, 0, 0, 0.5);
    color:      rgba(200, 200, 200, 0.87);
    position:   absolute;
    right:      0;
    text-align: right;
    top:        0;
    width:      100%;
  }
  &__content {
    h2:first-child {
      margin-top: 0;
    }
    p:first-of-type {
      color:     var(--title-color);
      font-size: 1.2em;
    }
    img {
      display:     block;
      margin-left: calc(var(--space) * -1);
      max-width:   none;
      width:       calc(100% + var(--space) * 2);
    }
  }
}
.post-comments {
  padding: calc(var(--space) / 2);
  &:empty {
    display: none;
  }
}
.post-author {
  margin-top: calc(var(--space) / 2);
}
