// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 1s, background-color 1s;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a:not(.button) {
  text-decoration: inherit;
  color: var(--link-color);
  opacity: .6;
  transition: all 150ms ease-in-out;

  &:hover {
    transform: scale(1.2);
    opacity: .9;
  }
}

img {
  max-width: 100%;
}
